/* media querys at the end of each section's CSS */

*, *::before, *::after{
    box-sizing:Border-box;
}

body{
    margin:0;
    padding:0;
    font-family:'Open Sans', sans-serif;
    overflow:auto;
}

h1, h2, h3, h4, h5, h6{
    color:#0c0c0c;
    font-family:'Heebo', sans-serif;
    line-height:1.1em;
    letter-spacing:1px;
}

h1{
    font-size:42px;
}

h2{
    font-size:37px;
}

h3{
    font-size:28px;
}

h4{
    font-size:22px;
}

h5{
    font-size:18px;
}

p{
    font-size:16px;
    color:#1c1c1c;
    font-family:'Open Sans', sans-serif;
    line-height:1.7em;
}

a, button{
    transition:all 0.3s ease-in-out 0s;
    -moz-transition:all 0.3s ease-in-out 0s;
    -webkit-transition:all 0.3s ease-in-out 0s;
    -o-transition:all 0.3s ease-in-out 0s;
}

a:hover, a:focus, button:hover, button:focus{
    transition:all 0.3s ease-in-out 0s;
    -moz-transition:all 0.3s ease-in-out 0s;
    -webkit-transition:all 0.3s ease-in-out 0s;
    -o-transition:all 0.3s ease-in-out 0s;
}

a{
    text-decoration:none;
}

li{
    list-style-type:none;
}

ul{
    padding:0px;
}

@font-face{
    font-family:azonix;
    src:url("C:/Users/ABC/Desktop/atdesigners/azonix.otf");
}

#parent-container{
    margin:0px;
    padding:0px;
    overflow:hidden;
}

/* header-main css starts here */

#header-main{
    background-image:url(images/home-img/stripes-6528728.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:scroll;
    background-position:center center;
    background-blend-mode:overlay;
    width:100%;
    padding:170px 90px 170px 90px;
    text-align:center;;
    background-color:rgba(0,0,0, 0.1);
}

#header-main .text-container{
    max-width:700px;
    margin:0 auto;
}

#header-main h1{
    color:white;
    font-weight:700;
    font-size:63px;
    line-height:70px;
    font-family: 'Poppins', sans-serif;
    letter-spacing:3px;
}

#header-main h3{
    color:white;
    margin:auto;
    font-size:26px;
}

#header-main .btn{
    color:white;
    font-weight:700;
    display:inline-block;
    padding:15px 32px;
    margin-top:45px;
    border:white solid 2px;
    letter-spacing:2px;
    font-size:20;
}

#header-main .btn:hover{
    background-color:rgba(0,0,0,0.7);
}

@media(max-width:980px){
    
    #header-main{
        padding:170px 50px 170px 50px;
    }
    
    #header-main h1{
        font-size:44px;
        line-height:60px;
    }
    
    #header-main h3{
        font-size:22px;
    }
    
}

@media(max-width:620px){
    
    #header-main{
        padding:130px 30px 130px 30px;
    }
    
    #header-main h1{
        font-size:36px;
        line-height:45px;
    }
    
    #header-main h3{
        font-size:19px;
    }
    
    /*#header-main .radius-1{
        padding:7px 15px;
        border-radius:15px;
    }*/
    
}

/* body-section-1 starts here */

.body-section-1{
    width:100%;
    height:0px;
    position:relative;
}

.body-section-1 .text-color{
    background-image:linear-gradient(to right, white 50%, #262626 -50%);
    position:absolute;
    border-radius:15px;
    top:-100px;
    left:15%;
    width:70%;
}

.body-section-1 .bs-1-boxes{
    width:100%;
    border-radius:15px;
    background-image:linear-gradient(to right, #262626 50%, white -50%);
    -webkit-background-clip: text;
    color: transparent !important;
    display:flex;
    flex-wrap:nowrap;
    padding:10px 10px;
    overflow:hidden;
    box-shadow:0px 4px 15px rgba(0, 0, 0, 0.3);
}

.body-section-1 .box-1, .body-section-1 .box-3{
    flex:25%;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.body-section-1 .box-2{
    flex:50%;
}

.body-section-1 .box{
    text-align:center;
}

.body-section-1 span{
    font-size:60px;
    color:transparent !important;
    font-weight:500;
    margin:0px 10%;
    font-family:serif;
}

.body-section-1 .box p{
    color:transparent !important;
    font-size:24px;
    font-weight:600;
    margin:6px;
    font-weight:800;
}

.body-section-1 .middle{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-around;
}

.body-section-1 .h-line{
    width:27%;
    background-color:skyblue;
    height:2px;
    display:inline-block;
    margin:auto;
}

@media(max-width:780px){
    
    .body-section-1 .text-color{
        width:80%;
        top:-87px;
        left:10%;
    }
    
    .body-section-1 .bs-1-boxes{
        
    }

    .body-section-1 .box p{
        font-size:18px;
    }
    
}

/* body-section-2 starsts here*/

.body-section-2{
    width:100%;
    text-align:center;
    padding: 155px 120px 100px 120px;
    letter-spacing:1px;
    overflow:hidden;
}

.body-section-2 h2{
    font-weight:600;
    font-size:37px;
}

.body-section-2 .h-line{
    display:block;
    width:25vw;
    height:2px;
    background-color:skyblue;
    margin:0 auto;
    position:relative;
    top:-15px;
}

.body-section-2 p{
    font-size:18px;
}

.body-section-2 .flex-container{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    text-align:left;
    margin-top:90px;
    position:relative;
}

.body-section-2 .bs-1-boxes{
    margin-bottom:140px;
    margin-top:120px;
}

.body-section-2 .bs-1-boxes .box-1, .body-section-2 .bs-2-boxes .box-2{
    background-size:cover;
    background-attachment:scroll;
    background-blend-mode:overlay;
    background-repeat:no-repeat;
    background-position:center center;
    width:100%;
    height:auto;
    display:block;
    box-shadow:0px 4px 15px rgba(0, 0, 0, 0.3);
    flex:60%;
}

.body-section-2 .bs-1-boxes .box-2, .body-section-2 .bs-2-boxes .box-1{
    flex:40%;
    background-color:(0,0,0,0.6) !important;
}

.body-section-2 .img-div-1{
    background-image:url(images/home-img/design-img1.jpg);
    margin-right:40px;
}

.body-section-2 .img-div-2{
    background-image:url(images/home-img/design-img2.jpg);
    margin-left:40px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.body-section-2 .bs-1-boxes h3{
    font-size:28px;
    color:#e0a721;
    margin-top:15px;
}

.body-section-2 .bs-2-boxes h3{
    font-size:28px;
    color:#88d897;
    margin-top:15px;
}

.body-section-2 .flex-container p{
    font-size:16px;
}

.body-section-2 .btn{
    display:inline-block;
    font-weight:700;
    display:inline-block;
    padding:15px 32px;
    margin-top:15px;
    letter-spacing:2px;
    font-size:20;
}

.body-section-2 .service-1-btn{
    color:#e0a721;
    border:#e0a721 solid 2px;
}

.body-section-2 .service-1-btn:hover{
    color:white;
    background-color:#e0a721;
    
}

.body-section-2 .service-2-btn{
    color:#58e271;
    border:#58e271 solid 2px;
}

.body-section-2 .service-2-btn:hover{
    color:white;
    background-color:#58e271;
}

.body-section-2 .grey-box{
    position:absolute;
    background-color:rgba(0,0,0,0.075);
    width:900px;
    height:250px;
    z-index:-1;
    left:15%;
    top:-13%;
}

@media(max-width:980px){
    
    .body-section-2{
        padding: 155px 90px 95px 90px;
    }
    
    .body-section-2 .flex-container{
        flex-wrap:wrap;
        justify-content:center;
        text-align:center;
    }
    
    .body-section-2 .flex-container .img-box{
        height:40vh;
        margin:0px 0px 30px 0px;
    }

    .body-section-2 .flex-container .box{
        flex:100%;
    }

    .body-section-2 .bs-1-boxes .box-2{
        order:1;
    }

    .body-section-2 .bs-2-boxes .box-1{
        order:2;
    }
    
    .body-section-2 .btn{
        margin-top:10px;
    }
    
    .body-section-2 .grey-box{
        left:15%;
        top:-8%;
    }

}

@media(max-width:620px){
    
    .body-section-2{
        padding: 145px 25px 40px 25px;
    }
    
    .body-section-2 h2{
        font-size:32px;
    }

    .body-section-2 p{
        font-size:16px;
    }

    .body-section-2 .flex-container{
        margin-top:40px;
        padding:30px 10px;
    }

    .body-section-2 .bs-1-boxes{
        margin-bottom:30px;
        background-color:rgba(0,0,0,0.03);
    }

    .body-section-2 .flex-container .img-box{
        height:30vh;
        margin:0px 0px 15px 0px;
    }
    
    .body-section-2 .grey-box{
        display:none;
    }
    
}

/* body-section-3 starts here */

.body-section-3{
    text-align:center;
    padding:40px 120px 90px 120px;
    background-image:url(images/home-img/black-1072366_1280.jpg);
    background-attachment:scroll;
    background-blend-mode:;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-blend-mode:overlay;
}

.body-section-3 h2{
    font-weight:600;
    font-size:37px;
    color:white;
    margin-bottom:50px;
}

.body-section-3 .grid-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-gap:20px;
    grid-row-gap:20px;
    -moz-display:grid;
    -moz-grid-template-columns:repeat(2,1fr);
    grid-column-gap:20px;
    grid-row-gap:20px;
}

.body-section-3 .box{
    padding:15px 20px;
    background-color:rgba(0,0,0,0.3);
}

.body-section-3 .box .fas{
    font-size:12px;
    color:skyblue;
}

.body-section-3 .box p:first-child{
    font-size:27px;
    font-weight:600;
    color:white;
    margin:0px;
}

.body-section-3 .box p:not(:first-child){
    font-size:20px;
    color:white;
    font-size:16px;
    margin:8px 0px;
}

@media(max-width:980px){
    
    .body-section-3{
        padding:40px 60px 70px 60px;
    }
    
}

@media(max-width:780px){
    
    .body-section-3 .grid-container{
        grid-template-columns:repeat(1,1fr);
        grid-column-gap:0px;
        grid-row-gap:20px;
    }
    
}

@media(max-width:620px){
    
    .body-section-3{
        padding:40px 20px 70px 20px;
    }
    
    .body-section-3 h2{
        font-size:32px;
    }
    
    .body-section-3 .box p:first-child{
        font-size:22px;
    }

    .body-section-3 .box p:not(:first-child){
        font-size:18px;
    }

}

/* body-section-4 starts here */

.body-section-4{
    text-align:center;
    padding:10px 120px 40px 120px;
    background-color:#1c1c1c;
}

.body-section-4 h3{
    font-weight:600;
    font-size:37px;
    margin-bottom:20px;
    color:white;
}

.body-section-4 .btn{
    color:white;
    font-weight:700;
    display:inline-block;
    padding:15px 32px;
    margin-top:0px;
    border:white solid 2px;
    letter-spacing:2px;
    font-size:20;
}

.body-section-4 .btn:hover{
    background-color:white;
    color:#1c1c1c;
}

@media(max-width:780px){
    
    .body-section-4{
        padding:10px 60px 40px 60px;
    }
    
    .body-section-4 h3{
        font-size:32px;
        margin-bottom:15px;
    }
    
}

@media(max-width:620px){
    
    .body-section-4{
        padding:10px 20px 40px 20px;
    }
    
    .body-section-4 h3{
        font-size:32px;
        margin-bottom:15px;
    }

}

/* body-section-5 starts here */

.body-section-5{
    text-align:center;
    background-size:40px 40px;
    background-blend-mode:overlay;
    background-color:rgba(0,0,0,0.75);
    padding:10px 0px;
    background-position:center;
}

.body-section-5 div{
    margin:auto;
    display:block;
}

.body-section-5 img{
    width:150px;
}

.body-section-5 p{
    font-family:azonix;
    font-weight:500;
    letter-spacing:2px;
    color:white;
    font-size:20px;
    margin:0px;
    display:inline-block;
}

@media(max-width:620px){
    
    .body-section-5 img{
        width:120px;
    }

    .body-section-5 p{
        color:white;
        font-size:18px;
    }
    
}

/* body-section-6 starts here */

.body-section-6{
    padding:0px 120px;
    text-align:center;
    background-color:rgba(0,0,0,0.05);
}

.body-section-6 p{
    font-size:12px;
    color:#1c1c1c;
    display:inline-block;
}

.body-section-6 a{
    color:#1c1c1c;
}

.body-section-6 span:hover{
    text-decoration:underline;
}

@media(max-width:780px){
    
    .body-section-6{
        padding:0px 40px;
    }
    
}